<!DOCTYPE html>
<html>

	{{head|safe}}

	<body>
		<header>
			<h1><a href="/."><span></span></a><br/>
			    <span>Stand: 2022-03-16</span></h1>
      <h2>Diagnose</h2>
      <h3></h3>
    </header>

    <nav> 
      {{nav|safe}}
    </nav>

		<main>
      <aside>
        <!-- h1>Materialien</h1>
        <ul>
          <li><a href="/static/resources/python/ch00/intro.py">Einführung ;)</a></li>
        </ul -->
      </aside>
      <article>
        <h1>Diagnose</h1>
        <section>
          <h1>Verzeichnisse</h1>
          <dl>
            <dt>aktuell</dt>
            <dd>{{cwd|safe}}</dd>
            <dt>wurzel</dt>
            <dd>{{base|safe}}</dd>
          </dl>
        </section>
      </article>
		</main>

	</body>
</html>